exportClasses(
   TrenaPrep,
   TrenaViz,
   Recipe,
   Cook)

export(
    TrenaPrep,
    TrenaViz,
    Cook,
    Recipe,
    geneRegulatoryModelToGraph,
    addGraph,
    loadStyle,
    addBedTrackFromDataFrame,
    addBedTrackFromHostedFile,
    showGenomicRegion,
    getGenomicRegion,
    addGeneModelLayout,
    fit,
    fitSelected,
    selectNodes,
    getSelectedNodes,
    clearSelection,
    sfn,
    layoutStrategies,
    layout,
    getRegulatoryRegions,
    getRegulatoryTableColumnNames,
    getGeneModelTableColumnNames,
    expandRegulatoryRegionsTableByTF,
    createGeneModel,
    buildMultiModelGraph
    )

exportMethods(

)

import(

)

import(jsonlite)
importFrom(RSQLite, SQLite)
importFrom(RPostgreSQL, PostgreSQL)
importFrom(RMySQL, MySQL)
importFrom(splitstackshape, expandRows)
