exportClasses(
   TrenaViz,
   TrenaPrep
   )

export(
    liftoverBedTable.hg19.hg38,
    liftoverBedFile.hg19.hg38,
    trenaViz,
    TrenaPrep,
    geneRegulatoryModelToGraph,
    addGraph,
    httpAddGraph,
    httpAddStructureGraph,
    loadStyle,
    loadStructureStyle,
    raiseTab,
    setGenome,
    addBedTrackFromDataFrame,
    addBedTrackFromHostedFile,
    showGenomicRegion,
    getGenomicRegion,
    fit,
    fitSelected,
    selectNodes,
    setNodeAttributes,
    selectStructureNodes,
    getSelectedNodes,
    clearSelection,
    sfn,
    layoutStrategies,
    layout,
    getRegulatoryRegions,
    getRegulatoryTableColumnNames,
    getGeneModelTableColumnNames,
    expandRegulatoryRegionsTableByTF,
    createGeneModel,
    buildMultiModelGraph,
    addGeneModelLayout,
    assessSnp
    )

exportMethods()

import()

import(GenomicRanges)
import(rtracklayer)
import(jsonlite)
importFrom(RSQLite, SQLite)
importFrom(RPostgreSQL, PostgreSQL)
importFrom(RMySQL, MySQL)
importFrom(splitstackshape, expandRows)
